@import "tailwindcss";
@layer base {
    @font-face {
        font-family: "Bebas Neue";
        src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
             url("/fonts/BebasNeue-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Regular.woff2") format("woff2"),
             url("/fonts/Poppins-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Poppins";
        src: url("/fonts/Poppins-Medium.woff2") format("woff2"),
             url("/fonts/Poppins-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Source Serif";
        src: url("/fonts/SourceSerif-Black.woff2") format("woff2"),
             url("/fonts/SourceSerif-Black.woff") format("woff");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
}
@theme {
    --color-primary-black: #231F20;
    --color-secondary-black: #5C553A;
    --color-typography-black: #1C1D1D;
    --color-typography-gray: #707070;
    --color-light-gray: #CFCFCF;
    --color-neutral-gray: #DDD6D7;
    --color-tag-green: #5C7962;

    --font-bebas-neue: "Bebas Neue", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-source-serif: "Source Serif", serif;
}
@keyframes bounceRight {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6px);
    }
}
@utility animate-bounce-right {
    animation: bounceRight 0.5s ease-in-out;
}
@utility w-355px {
    width: 355px;
}
@utility min-w-355px {
    min-width: 355px;
}
@utility gap-x-11px {
    column-gap: 11px
}

/* Text sizes */
@utility text-8px {
    font-size: 8px;
}
@utility text-10px {
    font-size: 10px;
}
@utility text-11px {
    font-size: 11px;
}
@utility text-28px {
    font-size: 28px;
}
@utility text-40px {
    font-size: 40px;
}

@utility star-size {
    width: 9px;
    height: 9px;
    @media (min-width: 1024px) {
        width: 12px;
        height: 12px;
    }
}

/* Show More */
@media (max-width: 1023px) {
    #product-grid > li:nth-child(n+5) {
        display: none;
    }
}

#more-products {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-in-out;
}

#more-products > div {
    overflow: hidden;
    min-height: 0;
}

#more-products.expanded {
    grid-template-rows: 1fr;
}

/* Custom Scrollbar */
.product-list-track {
    position: relative;
    height: 3px;
    background: var(--color-neutral-gray);
    border-radius: 2px;
    margin-top: 28px;
    cursor: pointer;
}
.product-list-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--color-primary-black);
    border-radius: 2px;
}


    #product-grid-container {
        overflow: hidden;
    }

@media (min-width: 1440px) {
    #product-grid-container {
        width: calc(100% + (100vw - 1440px) / 2);
    }
}
@media (min-width: 1920px) {
    #product-grid-container {
        width: calc(100% + (100vw - 1540px) / 2);
    }
}

#product-grid {
    transition: transform 0.38s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@media (min-width: 1024px) {
    #product-grid {
        will-change: transform;
    }
}
#product-grid.no-transition {
    transition: none;
}

@layer utilities {

    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        @media (min-width: 1024px) {            
              padding-left: 64px;
              padding-right: 64px;                  
        }
        @media (min-width: 1920px) {
            max-width: 1540px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .wrapper.wrapper--pr-0-lg {
        @media (min-width: 1024px) {
            padding-right: 0;
        }
    }

}

body {
    max-width: 100vw;
    overflow-x: clip;
}